# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# ** for app source code **
# dependencies
app/project_babel/node_modules/

# Expo
app/project_babel/.expo/
app/project_babel/dist/
app/project_babel/web-build/
app/project_babel/expo-env.d.ts

# Native
app/project_babel/.kotlin/
app/project_babel/*.orig.*
app/project_babel/*.jks
app/project_babel/*.p8
app/project_babel/*.p12
app/project_babel/*.key
app/project_babel/*.mobileprovision

# Metro
app/project_babel/.metro-health-check*

# debug
app/project_babel/npm-debug.*
app/project_babel/yarn-debug.*
app/project_babel/yarn-error.*

# macOS
app/project_babel/.DS_Store
app/project_babel/*.pem

# local env files
app/project_babel/.env*.local

# typescript
app/project_babel/*.tsbuildinfo

# EAS build
app/project_babel/eas.

#.env
app/project_babel/.env.local

# others
app/project_babel/.expo
app/project_babel/google-services.json
# app/project_babel/package.json
# app/project_babel/package-lock.json

# ** for backend **

app/server/node_modules
app/server/package_lock.json
app/server/.env