# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

app/Babel/# dependencies
app/Babel/node_modules/

# Expo
app/Babel/.expo/
app/Babel/dist/
app/Babel/web-build/
app/Babel/expo-env.d.ts

# Native
app/Babel/.kotlin/
app/Babel/*.orig.*
app/Babel/*.jks
app/Babel/*.p8
app/Babel/*.p12
app/Babel/*.key
app/Babel/*.mobileprovision

# Metro
app/Babel/.metro-health-check*

# debug
app/Babel/npm-debug.*
app/Babel/yarn-debug.*
app/Babel/yarn-error.*

# macOS
app/Babel/.DS_Store
app/Babel/*.pem

# local env files
app/Babel/.env*.local

# typescript
app/Babel/*.tsbuildinfo

app/Babel/app-example
